{% load static %}
<!-- ========================= FOOTER ========================= -->

<footer class="section-footer border-top">
  <div class="container">
    <section class="footer-bottom border-top row">
      <div class="col-md-2 d-flex align-items-center">
        <p class="text-muted mb-0">&copy; NetbusinessAI</p>
      </div>
      <div class="col-md-8 d-flex justify-content-center align-items-center">
        <span class="px-2">info@netbusiness.com</span>
        <span class="px-2"></span>
      </div>
      <div class="col-md-2 d-flex justify-content-end align-items-center">
        <i class="fab fa-lg fa-cc-visa mx-1"></i>
	   <i class="fab fa-lg fa-cc-paypal mx-1"></i>
        <i class="fab fa-lg fa-cc-mastercard mx-1"></i>
		<i class="fab fa-lg fa-cc-mercado-pago mx-1"></i>
      </div>
    </section>
  </div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
